<div class="container has-text-centered mainUserContainer">
  <div class="column has-text-centered is-size-2 signUpText">
    <h1>Sign Up</h1>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="field">
        <%= f.label :user_name, 'User Name' %>
        <%= f.text_field :user_name, class:'input formFieldBoxShadow' %>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-one-third ">
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input formFieldBoxShadow' %>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <div clas="field">
        <%= f.label :f_name, 'First Name(optional)' %>
        <%= f.text_field :f_name, class:'input formFieldBoxShadow'%>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <%= f.label :l_name, 'Last Name(optional)' %>
      <%= f.text_field :l_name, class:'input formFieldBoxShadow' %>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>
            characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", class:'input formFieldBoxShadow' %>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:'input formFieldBoxShadow' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", class:'button is-danger is-outlined searchButton' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
