<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreColumbusFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'magnifyingglass.png' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navBackground" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <%=link_to 'Pre Columbus Finder', root_path, class:'userSessionLinks mainLogoText' %>

          <%= link_to root_path do %>
          <%= image_tag image_path('America_Latina_red.svg.png'), class:'navbarLogo' %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-item">
          <%= link_to "My Profile", users_path, class:'userSessionLinks' %>
        </div>
        <div class="navbar-item">
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class:'userSessionLinks' %>
        </div>

      <% else %>
        <div class="navbar-item">
          <%=link_to 'Sign In', new_user_session_path, class:'userSessionLinks' %>
        </div>
        <div class="navbar-item">
          <%= link_to 'Sign Up', new_user_registration_path, class:'userSessionLinks' %>
        </div>
      <% end %>
    </div>
    <% unless controller_name == 'users' && action_name == 'index' %>
      <div class="navbar-item">
        <input type="text" class="input is-rounded searchBarField" placeholder="Search by country..">
        <button type="button" class="button is-danger is-outlined searchButton">
          Search
        </button>
      </div>
    <%end %>
  </nav>

  <%= yield %>


</body>
</html>
